<div class="container">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, voluptatibus quasi nam modi repellendus
        blanditiis explicabo molestiae ullam commodi nobis earum consectetur repudiandae? Tenetur exercitationem non
        quibusdam ipsa? Fuga, odit incidunt dignissimos esse reprehenderit ea? Ratione porro officia illum, enim dicta,
        temporibus iusto vitae recusandae quis doloremque tempora veritatis reprehenderit unde aperiam nobis cupiditate
        rem beatae? Doloremque minus ea doloribus id corporis, ipsa iusto quidem quae minima? Labore, tempore? Qui,
        tempore. Rem eveniet similique veniam natus molestiae officiis minus quisquam debitis, corrupti dolores nemo
        dolorem cum ad explicabo esse. Dolorem culpa vel, soluta eius porro accusantium fuga dignissimos quam ipsam
        ratione adipisci? Odio tempora laboriosam aut! Quasi est nobis minima optio vero quidem incidunt impedit
        ducimus, ab ad hic tempora autem consequatur accusamus dolorum iste beatae inventore alias perspiciatis amet
        nam, esse iusto suscipit? Aut sit aperiam odio, enim ducimus quibusdam minima autem, suscipit culpa id, saepe
        possimus eum cum! Reprehenderit quidem sed nesciunt consectetur illum voluptatem nulla neque consequuntur
        similique aliquam nostrum veritatis, atque sit dicta ullam exercitationem quaerat reiciendis. Nemo voluptatem
        iure et? Dicta debitis cupiditate consequatur architecto suscipit veritatis ipsum maiores, minima, quas dolor
        voluptatem, molestiae et doloremque ducimus eum id aspernatur culpa corrupti autem dolorum magnam!</p>
</div>

<style scoped>
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        width: 50%;
        margin: auto;
        text-align: center;
    }
</style>